* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  margin: 0;
  background-color: #477148;
}

#entirePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img, header > h1 {
  margin-left: 5%;
}

header > h1 {
  font-size: calc(2.38rem + 3vw);
  font-family: 'Tilt Prism', cursive;
}

h2 {
  font-family: 'Figtree', sans-serif;
  margin: 0;
}

p#message {
  font-size: calc(1.38rem + 2vw);
  font-family: 'Figtree', sans-serif;
  margin: .5rem 0;
}

#playersTerminal {
  border: .3rem solid #000;
  max-width: 75vw;
  margin: 0 auto;
  padding: 1rem;
}

#playersTerminal, .players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players {
  gap: 1rem;
}

div.playerInfo {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: .5rem;
}

p.numOfWinsDisplay {
  font-size: calc(1.75rem + 2vw);
  margin: 0;
}

.players > h2 {
  font-size: calc(1.88rem + 2vw);
  margin: 0;
}

.players > h3 {
  font-size: calc(1.68rem + 2vw);
  margin: 0;
}

#player2 {
  margin-top: 2rem;
}

#player1 > button {
  color: #d1171b;
}

#player2 > button {
  color: #411900;
}

button {
  font-size: calc(.88rem + 3vw);;
  font-weight: 600;
  width: 7rem;
  height: 5rem;
  border-radius: .5rem;
  cursor: pointer;
}

button:hover {
  background-color: aliceblue;
}

main {
  margin-bottom: 1.5rem;
}
