html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  background-color: #477148;
}

#entirePage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header > img {
  margin-left: 5%;
}

header > h1 {
  font-size: 3.5rem;
  font-family: 'Tilt Prism', cursive;
}

#rules {
  margin-bottom: 5rem;
}

h2 {
  font-family: 'Figtree', sans-serif;
}

#rules {
  font-size: 2.5rem;
  font-family: 'Figtree', sans-serif;
  margin: .5rem 0;
}

#playersTerminal {
  border: .3rem solid #000;
  max-width: 75vw;
  margin: 0 auto;
  padding: 1rem;
}

#playersTerminal, .players {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.players {
  gap: 1rem;
}

.players > h2 {
  font-size: 3rem;
  margin: 0;
}

.players > h3 {
  font-size: 2.8rem;
  margin: 0;
}

#player2 {
  margin-top: 2rem;
}

#player1 > button {
  color: #d1171b;
}

#player2 > button {
  color: #411900;
}

button {
  font-size: 2rem;
  font-weight: 600;
  width: 15rem;
  height: 5rem;
  border-radius: .5rem;
  cursor: pointer;
}

button:hover {
  background-color: aliceblue;
}

main {
  margin-bottom: 1.5rem;
}