:root {
  --snake-eyes-width: 16rem;
}

* {
  box-sizing: border-box;
}

#againBtn {
  margin-top: 2rem;
  padding: 1rem;
  width: fit-content;
}

body {
  background-color: #477148;
  font-size: 1.6rem;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

#btnRollP1, #btnRollP2 {
  margin-right: 1rem;
}

button {
  border-radius: .5rem;
  cursor: pointer;
  font-size: clamp(1.15rem, calc(.88rem + 3vw), 2.5rem);
  font-weight: 600;
  height: 5rem;
  text-align: center;
  width: 7rem;
}

.count, #disclaimer, #message {
  text-align: center;
} 

.count {
  font-size: clamp(2rem, calc(1.68rem + 2vw), 3.75rem);
  margin: 0;
}

#disclaimer {
  font-size: clamp(1.2rem, calc(.8rem + 2vw), 2.2rem);
  margin: 0 0 .5rem 0;
}

#entirePage {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
}

#final1,
#final2,
#winningMessage {
  font-size: clamp(1.75rem, calc(1.38rem + 2vw), 3.75rem);
  margin: 1rem 0;
}

h1 {
  font-family: 'Tilt Prism', cursive;
  font-size: clamp(4rem, calc(2.38rem + 3vw), 6rem);
}

h2 {
  font-family: 'Figtree', sans-serif;
  margin: 0;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
}

header > img {
  width: var(--snake-eyes-width);
}

header > img, h1 {
  margin-left: 5%;
}

html {
  font-size: 62.5%;
}

main {
  margin-bottom: 1.5rem;
}

#matchConcludeMenu {
  align-items: center;
  background-color: #2a832b;
  box-shadow: 0 0 0 100000px rgba(0,0,0,.2);
  display: none;
  flex-direction: column;
  gap: 1rem;
  height: 45%;
  justify-content: center;
  left: 50%;
  max-width: 40rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;

  @media (height <= 792px) {
    height: 55%;
  }
}

#message {
  font-family: 'Figtree', sans-serif;
  font-size: clamp(1.75rem, calc(1.38rem + 2vw), 2.75rem);
  margin: .5rem 0;
}

.playerInfo {
  align-items: center;
  display: flex;
  gap: .5rem;
  justify-content: end;
}

.playerOutline {
  outline: .3rem solid #20ac07;
}

.players {
  gap: 1rem;
  padding: 0 .7rem .7rem;
}

.players > h2 {
  font-size: calc(1.88rem + 2vw);
  margin: 0;
}

#playersTerminal {
  border: .3rem solid #000;
  margin: 0 auto;
  max-width: 75vw;
  padding: 1rem;
}

#playersTerminal, .players {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p.numOfWinsDisplay {
  font-size: clamp(1.55rem, calc(1.28rem + 2vw), 2.75rem);
  margin: 0;
}

#player1 button,
span.victorColor1 {
  color: #d1171b;
}

#player2 {
  margin-top: 2rem;
}

#player2 button,
span.victorColor2 {
  color: #411900;
}

.victorColor1 {
  color: #d1171b;
}

.victorColor2 {
  color: #411900;
}

#winner {
  font-family: 'Figtree', sans-serif;
  font-size: clamp(1.85rem, calc(1.48rem + 2vw), 3.85rem);
  margin: 0;
}

#winningFlag {
  width: 5rem;
}

#winningMessage {
  font-family: 'Figtree', sans-serif;
  margin: 1rem 0;
}
